		<div class ="jumbotron text-center">
	<h1> contact us</h1>
	<br/><br/>

	<div class="form-horizontal form-group form-group-lg row">
	<div class="col-xs-10 col-xs-offset-3  col-sm-6 col-md-6">

	{{input type ="email" value=emailAddress class="form-control" placeholder="Please type your email address." autofocus="autofocus"}}
	
	</div>
	</div>
	<br/>
	<div class="form-horizontal form-group form-group-lg row">
	<div class="col-xs-10 col-xs-offset-3  col-sm-6 col-md-6">
	{{input type ="text" value=text class="form-control" placeholder="Please type your message here(atleast 5 characters)."}}
	</div>
	</div>
	<br/>
<div class="form-horizontal form-group form-group-lg row">
	<div class="col-xs-10 col-xs-offset-5  col-sm-2 col-md-2">
       <button class="btn btn-primary  btn-block" {{action 'saveInvite'}} disabled={{isDisabled}}>Send message</button>
     </div>
   </div>


   {{#if responseMessage}}
     <div class="alert alert-success">{{responseMessage}}</div>
   {{/if}}

   <br/><br/>

</div>
{{outlet}}